---
- name: validate mandatory checkpoint syncer params
  assert:
    that:
      - hyperlane_checkpoint_syncer_bucket | length > 0
      - hyperlane_checkpoint_syncer_region | length > 0
      - hyperlane_checkpoint_syncer_folder | length > 0
    fail_msg: "hyperlane_checkpoint_syncer_bucket, hyperlane_checkpoint_syncer_region, and hyperlane_checkpoint_syncer_folder are mandatory"

- name: create relayer db directory
  ansible.builtin.file:
    path: "{{ hyperlane_relayer_db_path }}"
    state: directory
    owner: sovereign
    group: sovereign
    mode: '0755'
  become: true

- name: copy relayer shell script
  ansible.builtin.template:
    src: hyperlane-relayer.sh.j2
    dest: /home/sovereign/hyperlane-relayer.sh
    owner: sovereign
    group: sovereign
    mode: '0755'
  become: true

- name: copy relayer service file
  ansible.builtin.template:
    src: hyperlane-relayer.service.j2
    dest: /etc/systemd/system/hyperlane-relayer.service
    owner: root
    group: root
    mode: '0644'
  become: true

- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  become: true

- name: enable and start hyperlane-relayer service
  ansible.builtin.systemd:
    name: hyperlane-relayer
    state: started
    enabled: yes
  become: true

- name: wait for hyperlane-relayer service to be active
  ansible.builtin.systemd:
    name: hyperlane-relayer
  register: result
  until: result.status.ActiveState == "active" and result.status.SubState == "running"
  retries: 30
  delay: 10
  become: true
