worker_processes auto;
error_log /var/log/nginx/error.log warn;
pid /usr/local/openresty/nginx/logs/nginx.pid;

events {
    worker_connections 4096;
    use epoll;
    multi_accept on;
}

http {
    include conf.d/http-base.conf;

    server {
        listen {{ proxy_listen_port }};
{% if proxy_domain_name | length > 0 %}
        server_name {{ proxy_domain_name }}{% for domain in proxy_unlimited_domains %} {{ domain }}{% endfor %};
{% else %}
        server_name _;
{% endif %}

        location /health {
            access_log off;
            default_type text/plain;
            return 200 "healthy\n";
        }

        location /nginx_status {
            stub_status on;
            access_log off;
            allow 127.0.0.1;
            deny all;
        }

        location /.well-known/acme-challenge/ {
            root {{ proxy_certbot_webroot }};
        }

        include conf.d/proxy-location.conf;
    }
}
