/var/log/nginx/*.log {
    daily
    rotate 28
    dateext
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        if [ -f /usr/local/openresty/nginx/logs/nginx.pid ]; then
            kill -USR1 $(cat /usr/local/openresty/nginx/logs/nginx.pid)
        fi
    endscript
}
