- name: render partial DA config into variable
  set_fact:
    rollup_da_config: "{{ lookup('template', data_availability_role + '/rollup_da_config.toml.j2') }}"

- name: ensure output config directory exists
  ansible.builtin.file:
    path: "{{ config_folder }}"
    state: directory
    owner: sovereign
    group: sovereign
    mode: '0755'
  become: true

- name: render rollup_config.toml
  become: true
  become_user: sovereign
  ansible.builtin.template:
    src: "rollup_config.toml.j2"
    dest: "{{ config_folder }}/rollup_config.toml"

- name: update BATCH_NAMESPACE in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: 'BATCH_NAMESPACE = \{.*\}'
    replace: 'BATCH_NAMESPACE = { byte_string = "{{ rollup_batch_namespace }}" }'
    backup: no
  when: data_availability_role == 'celestia'

- name: update PROOF_NAMESPACE in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: 'PROOF_NAMESPACE = \{.*\}'
    replace: 'PROOF_NAMESPACE = { byte_string = "{{ rollup_proof_namespace }}" }'
    backup: no
  when: data_availability_role == 'celestia'

- name: update CHAIN_ID in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^CHAIN_ID = \d+'
    replace: 'CHAIN_ID = {{ rollup_chain_id }}'
    backup: no
  when: rollup_chain_id is defined and rollup_chain_id | string | length > 0

- name: update CHAIN_NAME in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^CHAIN_NAME = ".*"'
    replace: 'CHAIN_NAME = "{{ rollup_chain_name }}"'
    backup: no
  when: rollup_chain_name is defined and rollup_chain_name | string | length > 0

- name: update HYPERLANE_BRIDGE_DOMAIN in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^HYPERLANE_BRIDGE_DOMAIN = \d+'
    replace: 'HYPERLANE_BRIDGE_DOMAIN = {{ rollup_hyperlane_bridge_domain }}'
    backup: no
  when: rollup_hyperlane_bridge_domain is defined and rollup_hyperlane_bridge_domain | string | length > 0

- name: update HYPERLANE_METER_DELIVERY_COUNTER_AFTER_HEIGHT in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^HYPERLANE_METER_DELIVERY_COUNTER_AFTER_HEIGHT\s*=.*$'
    replace: 'HYPERLANE_METER_DELIVERY_COUNTER_AFTER_HEIGHT = {{ rollup_hyperlane_meter_delivery_counter_after_height }}'
    backup: no
  when: rollup_hyperlane_meter_delivery_counter_after_height is defined and rollup_hyperlane_meter_delivery_counter_after_height | string | length > 0

- name: update DEFERRED_SLOTS_COUNT in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^DEFERRED_SLOTS_COUNT = \d+'
    replace: 'DEFERRED_SLOTS_COUNT = {{ rollup_deferred_slots_count }}'
    backup: no
  when: rollup_deferred_slots_count is defined and rollup_deferred_slots_count | string | length > 0

- name: update SETUP_MODE_TERMINATION_HEIGHT in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^SETUP_MODE_TERMINATION_HEIGHT\s*=.*$'
    replace: 'SETUP_MODE_TERMINATION_HEIGHT = {{ rollup_setup_mode_termination_height }}'
    backup: no
  when: rollup_setup_mode_termination_height is defined and rollup_setup_mode_termination_height | string | length > 0

- name: update GAS_TOKEN_ID in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^GAS_TOKEN_ID\s*=.*$'
    replace: 'GAS_TOKEN_ID = { bech32 = "{{ rollup_custom_gas_token_id }}", type = "TokenId" }'
    backup: no
  when: rollup_custom_gas_token_id is defined and rollup_custom_gas_token_id | string | length > 0

- name: update EVM_MAX_FEE_CHECK_HEIGHT in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^EVM_MAX_FEE_CHECK_HEIGHT\s*=.*$'
    replace: 'EVM_MAX_FEE_CHECK_HEIGHT = {{ rollup_evm_max_fee_check_height }}'
    backup: no
  when: rollup_evm_max_fee_check_height is defined and rollup_evm_max_fee_check_height | string | length > 0

- name: render evm_pinned_cache.json
  become: true
  become_user: sovereign
  ansible.builtin.template:
    src: "evm_pinned_cache.json.j2"
    dest: "{{ config_folder }}/evm_pinned_cache.json"
  when: (evm_pinned_addresses is defined and evm_pinned_addresses | length > 0) or (publish_reverted_evm_txs is defined and publish_reverted_evm_txs | bool)
