[dev]
rollup-dev-01 ansible_host=44.203.60.91

[dev:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/YourKey.pem
ansible_ssh_common_args=-o ForwardAgent=yes -o StrictHostKeyChecking=no
data_availability_role=mock_da