#!/bin/bash
cat << 'EOF'

Welcome to Sovereign Rollup!

Data Availability Role: "{{ data_availability_role }}"
ZKVM Role: "{{ zkvm_role }}"
Config: /home/sovereign/rollup_config.toml
Run script: /home/sovereign/rollup.sh
EOF
