#!/bin/bash
export NO_COLOR=1
export RUST_BACKTRACE=full
export CONFIG_FILES="{{ hyperlane_config_files }}"
{% for chain, key in hyperlane_relayer_signer_keys.items() %}
export HYP_CHAINS_{{ chain | upper }}_SIGNER_KEY={{ key }}
{% endfor %}

/home/sovereign/relayer \
  --db {{ hyperlane_relayer_db_path }} \
  --relayChains {{ hyperlane_relayer_relay_chains }} \
  --checkpointSyncer.type s3 \
  --checkpointSyncer.bucket {{ hyperlane_checkpoint_syncer_bucket }} \
  --checkpointSyncer.region {{ hyperlane_checkpoint_syncer_region }} \
  --checkpointSyncer.folder {{ hyperlane_checkpoint_syncer_folder }} \
  --metrics-port {{ hyperlane_relayer_metrics_port }} \
  --log.level {{ hyperlane_log_level }} \
  --log.format json{% for chain, url in hyperlane_custom_rpc_urls.items() %}{% if url %} \
  --chains.{{ chain }}.customRpcUrls="{{ url }}"{% endif %}{% endfor %}
