#!/bin/bash
export NO_COLOR=1
export RUST_BACKTRACE=full

{% set build_profile = 'debug' if debug else 'release' %}
/home/ubuntu/{{ hyperlane_repo_dir }}/rust/main/target/{{ build_profile }}/validator \
  --db {{ rollup_storage_dir }} \
  --originChainName {{ hyperlane_validator_origin_chain }} \
  --chains.{{ hyperlane_target_chain }}.signer.type "{{ hyperlane_target_signer_type }}" \
  --chains.{{ hyperlane_target_chain }}.signer.accountType "{{ hyperlane_target_signer_account_type }}" \
  --checkpointSyncer.type s3 \
  --checkpointSyncer.bucket {{ hyperlane_checkpoint_syncer_bucket }} \
  --checkpointSyncer.region {{ hyperlane_checkpoint_syncer_region }} \
  --checkpointSyncer.folder {{ hyperlane_checkpoint_syncer_folder }} \
  --metrics-port {{ hyperlane_validator_metrics_port }} \
  --log.level {{ hyperlane_validator_log_level }} \
  --log.format json
