- name: render partial DA config into variable
  set_fact:
    rollup_da_config: "{{ lookup('template', data_availability_role + '/rollup_da_config.toml.j2') }}"

- name: render rollup_config.toml
  become: true
  become_user: sovereign
  ansible.builtin.template:
    src: "rollup_config.toml.j2"
    dest: "{{ rollup_config_path }}"

- name: update BATCH_NAMESPACE in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: 'BATCH_NAMESPACE = \{.*\}'
    replace: 'BATCH_NAMESPACE = { byte_string = "{{ rollup_batch_namespace }}" }'
    backup: no
  when: data_availability_role == 'celestia'

- name: update PROOF_NAMESPACE in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: 'PROOF_NAMESPACE = \{.*\}'
    replace: 'PROOF_NAMESPACE = { byte_string = "{{ rollup_proof_namespace }}" }'
    backup: no
  when: data_availability_role == 'celestia'

- name: update CHAIN_ID in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^CHAIN_ID = \d+'
    replace: 'CHAIN_ID = {{ rollup_chain_id }}'
    backup: no
  when: rollup_chain_id is defined and rollup_chain_id | string | length > 0

- name: update CHAIN_NAME in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^CHAIN_NAME = ".*"'
    replace: 'CHAIN_NAME = "{{ rollup_chain_name }}"'
    backup: no
  when: rollup_chain_name is defined and rollup_chain_name | string | length > 0

- name: update HYPERLANE_BRIDGE_DOMAIN in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^HYPERLANE_BRIDGE_DOMAIN = \d+'
    replace: 'HYPERLANE_BRIDGE_DOMAIN = {{ rollup_hyperlane_bridge_domain }}'
    backup: no
  when: rollup_hyperlane_bridge_domain is defined and rollup_hyperlane_bridge_domain | string | length > 0

- name: update DEFERRED_SLOTS_COUNT in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^DEFERRED_SLOTS_COUNT = \d+'
    replace: 'DEFERRED_SLOTS_COUNT = {{ rollup_deferred_slots_count }}'
    backup: no
  when: rollup_deferred_slots_count is defined and rollup_deferred_slots_count | string | length > 0

- name: update SETUP_MODE_TERMINATION_HEIGHT in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^SETUP_MODE_TERMINATION_HEIGHT = \d+'
    replace: 'SETUP_MODE_TERMINATION_HEIGHT = {{ rollup_setup_mode_termination_height }}'
    backup: no
  when: rollup_setup_mode_termination_height is defined and rollup_setup_mode_termination_height | string | length > 0

- name: update GAS_TOKEN_ID in constants.toml
  become: true
  become_user: ubuntu
  ansible.builtin.replace:
    path: "/home/ubuntu/{{ rollup_repo_dir }}/constants.toml"
    regexp: '^GAS_TOKEN_ID\s*=.*$'
    replace: 'GAS_TOKEN_ID = { bech32 = "{{ rollup_custom_gas_token_id }}", type = "TokenId" }'
    backup: no
  when: rollup_custom_gas_token_id is defined and rollup_custom_gas_token_id | string | length > 0

- name: render evm_pinned_cache.json
  become: true
  become_user: sovereign
  ansible.builtin.template:
    src: "evm_pinned_cache.json.j2"
    dest: "/home/sovereign/evm_pinned_cache.json"
  when: evm_pinned_addresses is defined and evm_pinned_addresses | length > 0

- name: render wipe-rollup-data.sh helper script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "wipe-rollup-data.sh.j2"
    dest: "/home/ubuntu/wipe-rollup-data.sh"
    mode: "0755"

- name: render make-leader.sh helper script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "make-leader.sh.j2"
    dest: "/home/ubuntu/make-leader.sh"
    mode: "0755"

- name: render restore-from-snapshot.sh helper script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "restore-from-snapshot.sh.j2"
    dest: "/home/ubuntu/restore-from-snapshot.sh"
    mode: "0755"

- name: render snapshot-rollup-data.sh script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "snapshot-rollup-data.sh.j2"
    dest: "/home/ubuntu/snapshot-rollup-data.sh"
    mode: "0755"
  when: disk_profile == "aws_ebs_backup_node"

- name: setup hourly cron for rollup snapshots
  become: true
  ansible.builtin.cron:
    name: "rollup snapshot to EBS"
    minute: "0"
    job: "/home/ubuntu/snapshot-rollup-data.sh"
    user: "ubuntu"
  when: disk_profile == "aws_ebs_backup_node"

- name: remove snapshot cron if not backup node
  become: true
  ansible.builtin.cron:
    name: "rollup snapshot to EBS"
    state: absent
    user: "ubuntu"
  when: disk_profile != "aws_ebs_backup_node"
