- name: render wipe-rollup-data.sh helper script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "wipe-rollup-data.sh.j2"
    dest: "/home/ubuntu/wipe-rollup-data.sh"
    mode: "0755"

- name: render make-leader.sh helper script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "make-leader.sh.j2"
    dest: "/home/ubuntu/make-leader.sh"
    mode: "0755"

- name: render restore-from-snapshot.sh helper script
  become: true
  become_user: ubuntu
  ansible.builtin.template:
    src: "restore-from-snapshot.sh.j2"
    dest: "/home/ubuntu/restore-from-snapshot.sh"
    mode: "0755"
