---
# Load configuration variables
- include_vars: "../../data-availability/{{ data_availability_role }}/defaults/main.yaml"
- include_vars: "../../zkvm/{{ zkvm_role }}/defaults/main.yaml"

- name: Check if Celestia secrets file exists
  stat:
    path: "{{ playbook_dir }}/vars/celestia_secrets.yaml"
  register: celestia_secrets_stat
  when: data_availability_role == 'celestia'

- name: load Celestia secrets from file (if not provided via runtime_vars)
  include_vars: "{{ playbook_dir }}/vars/celestia_secrets.yaml"
  when:
    - data_availability_role == 'celestia'
    - celestia_secrets_stat.stat.exists | default(false)
    - signer_private_key is not defined

- name: git update
  import_tasks: git.yaml

- name: genesis
  import_tasks: genesis.yaml

- name: rollup configuration setup
  include_tasks: config.yaml

- name: setup zkvm (if required)
  include_tasks: "../../zkvm/{{ zkvm_role }}/tasks/main.yaml"

- name: build rollup binary
  include_tasks: build.yaml

- name: rollup service
  include_tasks: service.yaml

- name: install and setup nginx
  include_tasks: nginx.yaml
