---
# Load zkvm configuration variables
# Note: DA defaults are loaded by preconditions.yaml in pre_tasks
- include_vars: "../../zkvm/{{ zkvm_role }}/defaults/main.yaml"

- name: git update
  import_tasks: git.yaml

- name: genesis
  import_tasks: genesis.yaml

- name: rollup configuration setup
  include_tasks: config.yaml

- name: setup zkvm (if required)
  include_tasks: "../../zkvm/{{ zkvm_role }}/tasks/main.yaml"

- name: build rollup binary
  include_tasks: build.yaml

- name: rollup service
  include_tasks: service.yaml

- name: install and setup nginx
  include_tasks: nginx.yaml
