---
# Determine backup node status and validate configuration
- name: Backup node detection and validation
  import_tasks: backup_node.yaml

- name: setup local postgresql
  include_tasks: postgres.yaml
  when: rollup_sequencer_postgres_connection_string is not defined or rollup_sequencer_postgres_connection_string | length == 0

- name: Build rollup version
  include_role:
    name: rollup-build

- name: build rollup manager
  include_tasks: rollup_manager.yaml

- name: render helper scripts
  include_tasks: helper_scripts.yaml

- name: setup or disable backups, as needed
  include_tasks: backup.yaml

- name: rollup service
  include_tasks: service.yaml

- name: install and setup nginx
  include_tasks: nginx.yaml

- name: configure rollup telegraf monitoring
  include_tasks: telegraf.yaml

- name: deploy login banner
  include_tasks: motd.yaml
