{
	"default_bucket_size_limit": 104857600,
	"privileged_deployer_addresses": {{ evm_pinned_addresses.split(',') | select | list | to_json }},
	"known_contracts_and_limits": {},
	"preferred_sequencer_publish_reverted_txs": {{ publish_reverted_evm_txs }}
}
