{
  "accounts": {
    "accounts": [],
    "enable_custom_account_mappings": false
  },
  "operator_incentives": {
    "reward_address": "{{ rollup_sequencer_address }}"
  },
  "attester_incentives": {
    "minimum_attester_bond": [1000, 1000],
    "minimum_challenger_bond": [1000, 1000],
    "initial_attesters": [
      ["{{ rollup_sequencer_address }}", "200000"]
    ],
    "rollup_finality_period": 5,
    "maximum_attested_height": 0,
    "light_client_finalized_height": 0
  },
  "bank": {
    "gas_token_config": {
      "token_name": "sov-token",
      "address_and_balances": [
        [
          "{{ rollup_sequencer_address }}",
          "{{ rollup_genesis_seq_init_balance }}"
        ]{%- if rollup_genesis_extra_addresses|length > 0 %},{% endif %}
        {% for extra_address in rollup_genesis_extra_addresses %}
        [
          "{{ extra_address }}",
          "{{ rollup_genesis_extra_init_balance }}"
        ]{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "admins": ["{{ rollup_sequencer_address }}"]
    },
    "tokens": []
  },
  "chain_state": {
    "current_time": 0,
    "operating_mode": "operator",
    "inner_code_commitment": [0, 0, 0, 0, 0, 0, 0, 0],
    "outer_code_commitment": [0, 0, 0, 0, 0, 0, 0, 0],
    "genesis_da_height": {{ genesis_da_height }}
  },
  "paymaster": {
    "payers": [
      {
        "payer_address": "{{ rollup_sequencer_address }}",
        "policy": {
          "default_payee_policy": {
            "allow": {}
          },
          "payees": [],
          "authorized_updaters": [],
          "authorized_sequencers": "all"
        },
        "sequencers_to_register": [
          "{{ da_rollup_address }}"
        ]
      }
    ]
  },
  "prover_incentives": {
    "proving_penalty": [10, 10],
    "minimum_bond": [1000, 1000],
    "initial_provers": [
      ["{{ rollup_sequencer_address }}", "200000"]
    ]
  },
  "sequencer_registry": {
    "minimum_bond": "5000",
    "sequencer_config": {
      "seq_rollup_address": "{{ rollup_sequencer_address }}",
      "seq_da_address": "{{ da_rollup_address }}",
      "seq_bond": "{{ rollup_genesis_seq_bond }}",
      "is_preferred_sequencer": true
    }
  },
  "uniqueness": null,
  "blob_storage": null,
  "revenue_share": null,
  "mailbox": null,
  "interchain_gas_paymaster": null,
  "merkle_tree_hook": null,
  "warp": null,
  "value_setter": null,
  "evm": {
    "accounts": [],
    "contract_creation_policy": "everyone",
    "initial_base_fee": 7,
    "genesis_timestamp": 0,
    "chain_spec": {
      "limit_contract_code_size": 524288,
      "coinbase": "0x0000000000000000000000000000000000000000",
      "block_gas_limit": {{ rollup_genesis_evm_block_gas_limit }},
      "base_fee_params": {
        "max_change_denominator": 8,
        "elasticity_multiplier": 2
      },
      "hardforks": [[0, "CANCUN"]]
    }
  }
}