{
  "versions": [
    {
      "rollup_binary": "{{ output_binary_path }}/{{ rollup_bin }}",
      "config_path": "{{ output_config_path }}/rollup_config.toml",
      "migration_path": null,
      "start_height": null,
      "stop_height": null
    }
  ]
}
