{{ rollup_da_config }}

[storage]
path = "{{ rollup_storage_dir }}"
state_cache_size = {{ rollup_state_cache_size }}
user_commit_concurrency = {{ rollup_state_user_commit_concurrency }}
user_hashtable_buckets = {{ rollup_state_user_hashtable_buckets }}
user_preallocate_ht = {{ rollup_state_user_preallocate_ht | lower }}
kernel_commit_concurrency = 2
pruner_versions_to_keep = 100

[runner]
da_polling_interval_ms = 2000
da_total_timeout_secs = 300
concurrent_sync_tasks = 2
pre_fetched_blocks_capacity = 4

[runner.http_config]
bind_host = "{{ rollup_http_host }}"
bind_port = {{ rollup_http_port }}

[monitoring]
telegraf_address = "127.0.0.1:8094"

[proof_manager]
aggregated_proof_block_jump = 1
# For now sequencer and prover same thing
prover_address = "{{ rollup_sequencer_address }}"
max_number_of_transitions_in_db = 100
max_number_of_transitions_in_memory = 20

[sequencer]
max_batch_size_bytes = {{ rollup_max_batch_size_bytes }}
max_concurrent_blobs = {{ rollup_max_concurrent_blobs }}
max_allowed_node_distance_behind = {{ rollup_max_allowed_node_distance_behind }}
rollup_address = "{{ rollup_sequencer_address }}"
blob_processing_timeout_secs = 60

{% if rollup_sequencer_kind == "preferred" %}
[sequencer.preferred]
disable_state_root_consistency_checks = true
recovery_strategy = "TryToSave"
batch_execution_time_limit_millis = 6000
ideal_lag_behind_finalized_slot = 1
num_cache_warmup_workers = 0
is_replica = {{ is_rollup_replica | lower }}
{% if rollup_sequencer_postgres_connection_string is defined and rollup_sequencer_postgres_connection_string | length > 0 %}
[sequencer.preferred.postgres_config]
postgres_connection_string = "{{ rollup_sequencer_postgres_connection_string }}"
node_id = "{{ rollup_node_id }}"
{% endif %}
{% else %}
[sequencer.standard]
{% endif %}

[sequencer.extension]
max_log_limit = 20000

{% if rollup_sequencer_kind == "preferred" and rollup_has_timing_oracle %}
[sequencer.preferred.timing_oracle]
priority_fee_percentage = 0
max_fee = 100_000_000
interval_millis = 50
{% endif %}

{% if rollup_sequencer_kind == "preferred" and rollup_rate_limiter_enabled %}
[sequencer.preferred.rate_limiter]
max_nb_of_concurrent_users_in_rate_limiter = {{ rollup_rate_limiter_max_concurrent_users }}
max_requests_per_second = {{ rollup_rate_limiter_max_requests_per_second }}
{% if rollup_rate_limiter_address_limits | length > 0 %}
address_custom_limits = [{% for item in rollup_rate_limiter_address_limits %}["{{ item.address }}", { resources_per_bucket = {{ item.resources_per_bucket }}, refill_rate = {{ item.refill_rate }} }]{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{% if rollup_rate_limiter_ip_limits | length > 0 %}
ip_custom_limits = [{% for item in rollup_rate_limiter_ip_limits %}["{{ item.ip }}", { resources_per_bucket = {{ item.resources_per_bucket }}, refill_rate = {{ item.refill_rate }} }]{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}

[sequencer.preferred.rate_limiter.default_limits]
resources_per_bucket = {{ rollup_rate_limiter_default_resources_per_bucket }}
refill_rate = {{ rollup_rate_limiter_default_refill_rate }}
{% endif %}