{{ rollup_da_config }}

[storage]
path = "{{ rollup_storage_dir }}"
state_cache_size = {{ rollup_state_cache_size }}
user_commit_concurrency = {{ rollup_state_user_commit_concurrency }}
user_hashtable_buckets = {{ rollup_state_user_hashtable_buckets }}
user_preallocate_ht = {{ rollup_state_user_preallocate_ht | lower }}
kernel_commit_concurrency = 2
pruner_versions_to_keep = 100

[runner]
da_polling_interval_ms = 2000
da_total_timeout_secs = 300
concurrent_sync_tasks = 2
pre_fetched_blocks_capacity = 4

[runner.http_config]
bind_host = "{{ rollup_http_host }}"
bind_port = {{ rollup_http_port }}

[monitoring]
telegraf_address = "127.0.0.1:8094"

[proof_manager]
aggregated_proof_block_jump = 1
# For now sequencer and prover same thing
prover_address = "{{ rollup_sequencer_address }}"
max_number_of_transitions_in_db = 100
max_number_of_transitions_in_memory = 20

[sequencer]
max_batch_size_bytes = {{ rollup_max_batch_size_bytes }}
max_concurrent_blobs = {{ rollup_max_concurrent_blobs }}
max_allowed_node_distance_behind = {{ rollup_max_allowed_node_distance_behind }}
rollup_address = "{{ rollup_sequencer_address }}"
blob_processing_timeout_secs = 60

[sequencer.preferred]
disable_state_root_consistency_checks = true
recovery_strategy = "TryToSave"
batch_execution_time_limit_millis = 6000
ideal_lag_behind_finalized_slot = 1
num_cache_warmup_workers = 0
is_replica = {{ is_rollup_replica | lower }}
{% if rollup_sequencer_postgres_connection_string is defined and rollup_sequencer_postgres_connection_string | length > 0 %}
[sequencer.preferred.postgres_config]
postgres_connection_string = "{{ rollup_sequencer_postgres_connection_string }}"
node_id = "{{ rollup_node_id }}"
{% endif %}

[sequencer.extension]
max_log_limit = 20000

{% if rollup_has_timing_oracle %}
[sequencer.preferred.timing_oracle]
priority_fee_percentage = 0
max_fee = 100_000_000
interval_millis = 50
{% endif %}