[Unit]
Description=Rollup
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/sovereign/rollup.sh
Restart=always
RestartSec=3
User=sovereign
LimitNOFILE={{ max_open_files }}
LogRateLimitIntervalSec=0
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/sovereign/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/snap/bin:/home/sovereign/.local/bin/"

{% if grafana_telemetry_mode == "logs" %}
Environment=OTEL_EXPORTER_OTLP_LOGS_ENDPOINT="http://127.0.0.1:4317"
{% elif grafana_telemetry_mode == "full" %}
Environment=SOV_OTEL_ENABLED=1
{% endif %}

[Install]
WantedBy=multi-user.target
