{
  "versions": [
    {
      "rollup_binary": "/home/sovereign/{{ rollup_bin }}",
      "config_path": "{{ rollup_config_path }}",
      "migration_path": null,
      "start_height": null,
      "stop_height": null
    }
  ]
}
