# Rollup-specific Telegraf inputs
[[inputs.http_response]]
  interval = "2s"
  urls = ["http://127.0.0.1:{{ rollup_http_port }}/sequencer/ready"]

#[[inputs.postgresql]]
#  address = "host=localhost user=rollup password=hunter2 sslmode=disable"
# Rollup, legacy
#[[inputs.prometheus]]
#  urls = ["http://127.0.0.1:9845/metrics"]
#   metric_version = 1
#   [inputs.prometheus.tags]
#     source = "sov-rollup"

[[inputs.http]]
  urls = ["http://127.0.0.1:{{ rollup_http_port }}/modules/bank/tokens/gas_token/balances/{{ rollup_sequencer_address }}"]
  data_format = "json"
  json_string_fields = ["amount"]
  tagexclude = ["url"]

  fielddrop = ["token_id"]

  name_override = "sov_gas_balance"