---

- name: set custom variables
  include_tasks: custom_vars.yaml

- name: create user
  include_tasks: user.yaml

- name: install dependencies
  include_tasks: deps.yaml

- name: disable rsyslog
  include_tasks: rsyslog.yaml

- name: chrony
  include_tasks: chrony.yaml

- name: tune host
  include_tasks: system_tuner.yaml

- name: folders
  include_tasks: dirs.yaml

- name: setup disks
  include_tasks: disks.yaml
  when: disk_profile != 'none'

- name: configure journald to use logs disk
  include_tasks: journald.yaml
  when: disk_config.logs_disk | default('') | length > 0

- name: telegraf agent for monitoring metrics
  include_tasks: telegraf.yaml

- name: grafana alloy agent for exporting logs and traces
  include_tasks: grafana_alloy.yaml
  when: (grafana_loki_token | default('') | length > 0) or (grafana_tempo_token | default('') | length > 0)