---

- name: set custom variables
  include_tasks: custom_vars.yaml

- name: create user
  include_tasks: user.yaml

- name: install dependencies
  include_tasks: deps.yaml

- name: chrony
  include_tasks: chrony.yaml

- name: tune host
  include_tasks: system_tuner.yaml

- name: folders
  include_tasks: dirs.yaml

- name: setup disks
  include_tasks: disks.yaml
  when: setup_disks | bool

- name: telegraf agent for monitoring metrics
  include_tasks: telegraf.yaml

- name: grafana alloy agent for exporting logs and traces
  include_tasks: grafana_alloy.yaml